# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=tcg_db
DATABASE_USER=tcg_user
DATABASE_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# App
PORT=3000
NODE_ENV=development

# Admin — el usuario que se registre con este email será admin automáticamente
ADMIN_EMAIL=
